html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}
#canvas_bg_static {
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0px;
	top: 0px;
	left: 0px;
	z-index: 0;
}
canvas[id*="canvas_bg_dynamic"] {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
}
canvas[id*="canvas_person"] {
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
}
canvas[id*="canvas_fg_static"] {
	position: absolute;
	z-index: 300;
	top: 0px;
	left: 0px;
}
canvas[id*="canvas_fg_dynamic"] {
	position: absolute;
	z-index: 400;
	top: 0px;
	left: 0px;
}

.quiz_hidden{
	display:none;
}

.quiz_shown{
	display:inline;
}

.clickable:hover{
	box-shadow:0px 0px 0.5em 1em rgba(0,255,204,0.5);
}