html, body{
	height:100%;
	width:100%;
	margin:0px;
}

html, body{
        height:100%;
        width:100%;
        margin:0px;
}

#canvas_bg_static{
        height:100%;
        width:100%;
        position:absolute;
        margin:0px;
        top:0px;
        left:0px;
        z-index:0;
}

canvas[id*="canvas_bg_dynamic"]{
        position: absolute;
        z-index:1;
        top: 0px;
        left: 0px;
        visibility:visible;
}

canvas[id*="canvas_person"]{
        position: absolute;
        z-index:2   ;
        top: 0px;
        left: 0px;
        visibility:visible;
}

canvas[id*="canvas_fg_static"]{
        position: absolute;
        z-index:3;
        top: 0px;
        left: 0px;
        visibility:visible;
}

canvas[id*="canvas_fg_dynamic"]{
        position: absolute;
        z-index:4;
        top: 0px;
        left: 0px;
        visibility:visible;
}

#textbox{
        position:absolute;
        /*height:150px;
        width:200px;*/
        z-index:50;
        top: 0px;
        left: 0px;
}
