html, body {
	min-height: 100%;
	min-width: 100%;
	margin: 0px;
	overflow:hidden;
}

#menu {
	position:absolute;
	top:50%;
	left:50%;
	text-align:center;
}

#bg {
	height:100%;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	margin:2px auto;
	z-index:-1;
}

#canvas_bg_static {
	height: 100%;
	width: 100%;
	position: absolute;
	margin: 0px;
	top: 0px;
	left: 0px;
	z-index: 0;
}
canvas[id*="canvas_bg_dynamic"] {
	position: absolute;
	z-index: 100;
	top: 0px;
	left: 0px;
}
canvas[id*="canvas_person"] {
	position: absolute;
	z-index: 200;
	top: 0px;
	left: 0px;
}
canvas[id*="canvas_fg_static"] {
	position: absolute;
	z-index: 300;
	top: 0px;
	left: 0px;
}
canvas[id*="canvas_fg_dynamic"] {
	position: absolute;
	z-index: 400;
	top: 0px;
	left: 0px;
}

canvas[id*="uebergang"] {
	position: absolute;
	z-index: 1000;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

.quiz_hidden{
	display:none;
}

.quiz_shown{
	display:inline;
}

.clickable:hover{
	box-shadow:inset 0px 0px 1cm 2cm rgba(0,255,204,0.5), 0px 0px 0.5cm 0.5cm rgba(0,255,204,0.5);
}